doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Pinxit
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Lato:300,400,900')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/0.9.9/magnific-popup.css')
    link(rel='stylesheet', href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css', integrity='sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==', crossorigin='')
    script(src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js', integrity='sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==', crossorigin='')
    link(rel='stylesheet', href='/app.css')

  body
    a(href='https://github.com/mfpierre/pinxit.me')
      img.fork-link(src='https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png', alt='Fork me on GitHub')

    header(id='banner')
      .intro
        h1.title Pinxit
        p Hi, I'm a Full-Stack Web Developer
        p Tech & Start-up enthusiast

    div(id='main')
      section
        h2 About Me
        p Hi, I'm Pierre
        p I'm a Full-Stack Developer with a main experience with PHP/Symfony2 but I'm open on any MVC Framework (Rails, Django)
        p
          | I also do a bit of
          a(href="http://www.flickr.com/mfpierre", target="_blank")  Photography
      section.border
        h2 Recent Work
        figure.project
          a.ajax-popup-link(href="/projects/thefork.html")
            figcaption
              h3 Lafourchette
            .thumb
              img(src="images/thefork_thumb.jpg")
        figure.project
          a.ajax-popup-link(href="/projects/atrium.html")
            figcaption
              h3 Atrium
            .thumb
              img(src="images/atrium_thumb.jpg")
        figure.project
          a.ajax-popup-link(href="/projects/creads.html")
            figcaption
              h3 Creads
            .thumb
              img(src="images/creads_thumb.jpg")
        figure.project
          a.ajax-popup-link(href="/projects/backpackmojo.html")
            figcaption
              h3 Backpackmojo
            .thumb
              img(src="images/backpackmojo_thumb.jpg")
        figure.project
          a.ajax-popup-link(href="/projects/midipile.html")
            figcaption
              h3 Midipile
            .thumb
              img(src="images/midipile_thumb.jpg")
        figure.project
          a.ajax-popup-link(href="/projects/d3a.html")
            figcaption
              h3 Mobile Armory for D3
            .thumb
              img(src="images/d3a_thumb.jpg")
        figure.project
          a.ajax-popup-link(href="/projects/metascore.html")
            figcaption
              h3 Metascore
            .thumb
              img(src="images/metascore_thumb.jpg")
        figure.project
          a.ajax-popup-link(href="/projects/wcbh.html")
            figcaption
              h3 We Can Be Heroes
            .thumb
              img(src="images/wcbh_thumb.jpg")

      section.border
        h2 Get in touch
        form#signup-form(action='http://formspree.io/mfpierre@gmail.com', method='post')
          .form-row
            input.floating-placeholder(name='name', type='text', placeholder='Name', required='')
          .form-row
            input.floating-placeholder(name='email', type='email', placeholder='Email', required='')
          .form-row
            input#message.floating-placeholder(name='message', placeholder='Message', required='')
          input(type='text', name="_gotcha", style="display:none")
          input.button(type='submit', value='Send message')
        #map

    footer#footer
      ul.icons
        li
          a.fa.fa-github(href='https://github.com/mfpierre', target="_blank")
        li
          a.fa.fa-twitter(href='https://twitter.com/mfpierre', target="_blank")
        li
          a.fa.fa-flickr(href='http://www.flickr.com/photos/mfpierre/', target="_blank")
        li
          a.fa.fa-linkedin(href='https://www.linkedin.com/in/pierremargueritte', target="_blank")
        li
          a.fa.fa-angellist(href='https://angel.co/mfpierre', target="_blank")

        .copyright
          p Pierre Margueritte - 2016
    script(src='/app.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/0.9.9/jquery.magnific-popup.min.js')
