doctype html
html(lang="en")
  head
    title Pinxit
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Lato')
    link(rel='stylesheet', href='/app.css')
  body
    h1.ui.header Pinxit
    h2.ui.header I Write Code
    h2.ui.header I Travel
    h2.ui.header Contact Me
  script(src="/app.js")