doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Pinxit
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Lato:300,400,900')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false')
    link(rel='stylesheet', href='/app.css')

  body
    a(href='https://github.com/mfpierre/pinxit.me')
      img.fork-link(src='https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png', alt='Fork me on GitHub')

    header(id='banner')
      .intro
        h1.title Pinxit
        p Hi, I'm a Full-Stack Web Developer
        p Tech & Start-up enthusiast

    div(id='main')
      section
        h2 Projects
        figure.project
          .thumb
            img(src="images/atrium.jpg")
          figcaption
            h3 Atrium
        figure.project
          .thumb
            img(src="images/atrium.jpg")
          figcaption
            h3 Backpackmojo
        figure.project
          .thumb
            img(src="images/atrium.jpg")
          figcaption
            h3 Metacheck
        figure.project
          .thumb
            img(src="images/atrium.jpg")
          figcaption
            h3 Mobile Armory for D3

      section.border
        h2 Get in touch
        form#signup-form.white-popup-block.mfp-hide(action='http://getsimpleform.com/messages?form_api_token=c1a799ba02356210d1cb56b9869127d8', method='post')
          .form-row
            input.floating-placeholder(name='name', type='text', placeholder='Name', required='')
          .form-row
            input.floating-placeholder(name='email', type='email', placeholder='Email', required='')
          .form-row
            input#message.floating-placeholder(name='message', placeholder='Message', required='')
          input.button(type='submit', value='Send message')
        #map

    footer#footer
      ul.icons
        li
          a.fa.fa-github(href='https://github.com/mfpierre')
        li
          a.fa.fa-twitter(href='https://twitter.com/mfpierre')
        li
          a.fa.fa-flickr(href='http://www.flickr.com/photos/mfpierre/')
        li
          a.fa.fa-linkedin(href='https://www.linkedin.com/in/pierremargueritte')
        li
          a.fa.fa-angellist(href='https://angel.co/mfpierre')

        .copyright
          p Pierre Margueritte - 2014
    script(src='/app.js')
