doctype html
html(lang="en")
  head
    title Pinxit
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Lato:300,900')
    link(rel='stylesheet', href='/app.css')
  body
    #banner
      h1.title Pinxit
    h2 I Write Code
    h2 I Travel
    h2 Contact Me
  script(src="/app.js")