doctype html
html(lang="en")
  head
    title Pinxit
    link(rel='stylesheet', href='//cdn.jsdelivr.net/semantic-ui/0.19.0/css/semantic.min.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Lato')
    link(rel='stylesheet', href='/css/app.css')
  body
    h1 Pinxit
  script(src="/app.js")