.project-detail
  .image
    h1
      | Atrium
      a.fa.fa-external-link(href='http://www.getatrium.com', target="_blank")
    img(src="images/atrium_1.png")
  .about
    h2 About
    p Atrium is a online platform that gives any existing Online Community its own branded HTML5 Sims-like virtual space for its members to hang out and interact through personalized avatars.
    p I am the technical co-founder on this project.
    h2 Software stack
    ul.tags
      li Node.js
      li Express.js
      li Socket.io
      li MongoDB
      li Phaser
