.project-detail
  .image
    h1
      | Creads
      a.fa.fa-external-link(href='http://www.creads.fr', target='_blank')
    img(src="images/creads_1.png")
  .about
    h2 About
    p Creads is a creative and participatory agency. This complex website includes a social network, a shop and a CRM.
    p I was the technical lead on the major technical reengineering of Creads on Symfony 2.
    h2 Software stack
    ul.tags
      li Symfony2
      li MySQL
      li Doctrine
      li rabbitmq
      li elasticsearch
      li vagrant
