.project-detail
  .image
    h1
      | Mobile Armory - for Diablo 3
      a.fa.fa-external-link(href='https://itunes.apple.com/app/id557892322', target='_blank')
    img(src="images/d3a_1.jpg")
  .about
    h2 About
    p The Mobile Armory - for Diablo 3 is a fan-made app to access your Diablo 3 Armory on the go!
    p This is a personal project (over 25k download / 350k sessions)
    h2 Software stack
    ul.tags
      li Objective-C
      li cocoapods
