.project-detail
  .image
    h1
      | Metascore
      a.fa.fa-external-link(href='https://itunes.apple.com/app/id686480805', target='_blank')
    img(src="images/metascore_1.jpg")
  .about
    h2 About
    p Metascore is a free app to check the metascore (from Metacritic.com) of a product in the following categories : Movies, Games, TV, Music !
    p This is a personal project
    h2 Software stack
    ul.tags
      li Objective-C
      li cocoapods
