.project-detail
  .image
    h1
      | Midipile
      a.fa.fa-external-link(href='https://itunes.apple.com/fr/app/midipile/id556793382?mt=8', target='_blank')
    img(src="images/midipile_1.jpg")
  .about
    h2 About
    p Midipile offers product discover through free daily contests.
    p I developed the iPhone/iPad App along with the REST API.
    h2 Software stack
    ul.tags
      li Objective-C
      li PHP rest api
      li cocoapods
