.project-detail
  .image
    h1
      | Lafourchette
      a.fa.fa-external-link(href='http://www.thefork.com', target="_blank")
    img(src="images/thefork.jpg")
  .about
    h2 About
    p Lafourchette is an online booking service that puts at your disposal more than 20,000 restaurants available at any time, at the best price, in France, Spain, Switzerland, Belgium, Italy and in other countries soon.
    p I worked at Lafourchette as a freelance full-stack web developer
    h2 Software stack
    ul.tags
      li Symfony2
      li Behat
      li PHPUnit
      li MySQL
      li Solr
      li jQuery
      li ELK
      li Vagrant
      li Packer
      li RabbitMQ
      li SQLite
      li Gearman
      li Python
      li Phing
      li Memcached

