.project-detail
  .image
    h1
      | We can be heroes
      a.fa.fa-external-link(href='http://wecanbehero.es', target="_blank")
    iframe(width='100%', height='320', src='//www.youtube.com/embed/GFmqTpyd01E?rel=0&showinfo=0', frameborder='0', allowfullscreen='allowfullscreen')
  .about
    h2 About
    p The first "co-dreaming" platform, allowing its users to fund and execute billionaire-exclusive dreams. (Featured at LeWeb London 13’)
    p I am the technical co-founder on this project.
    h2 Software stack
    ul.tags
      li Symfony2
      li Bootstrap
