@import "includes/reset.less";
@import "includes/grid.less";

//////////
// GRID //
//////////

// Specify the number of columns and set column and gutter widths
@columns: 12;
@column-width: 60;
@gutter-width: 0;

// Remove the definition below for a pixel-based layout
@total-width: 100%;


////////////
// LAYOUT //
////////////


///////////
// STYLE //
///////////

html {
    font-size: 16px;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 100%;
    font-weight: 300;
}

h1 {
    font-size: 8em;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 0.8em;
    &.title {
        display: inline-block;
        height: 0.8em;
        width: 433px;
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        color: #FFF;
        padding: 5px;
        border: 3px solid #FFF;
    }
}

#banner {
    width: 100%;
    height: 400px;
    position: relative;
}

////////////////
// RESPONSIVE //
////////////////

@media screen and (max-width: 1100px) {

}

@media screen and (max-width: 720px) {
    h1 {
        font-size: 3em;
        &.title {
            border-width: 2px;
            width: 161px;
        }
    }
}